{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium OSLO-Fietsinfrastructuur specialiseert bestaande terminologie of vult deze aan om materiële en immateriële aspecten van fietsinfrastructuur te beschrijven.</p>
<p>Infrastructuurelementen uit <a href="https://data.vlaanderen.be/ns/openbaardomein/infrastructuur/">OSLO-Openbaar domein</a> of uit <a href=http://schema.mobivoc.org/">MOBIVOC</a> kunnen desgewenst getypeerd als Fietsinfrastructuurobject zodat ze in die context kunnen worden gebruikt.</p>
<p>Begrippen om andere materiële objecten mbt fietsinfrastructuur te beschrijven zijn niet voorzien, ook niet voor de wegbaan: die wordt vertegenwoordigd door overeenstemmende objecten die het logisch fietsnetwerk voorstellen, de zgn Fietsnetwerkelementen.</p>
<p>Begrippen uit het vocabularium <a href="https://data.vlaanderen.be/ns/transportnetwerk/">OSLO-Transportnetwerk</a> worden daartoe verder gespecialiseerd als Fietnetwerkelement: Fietsknoop als subklasse van Transportknoop, Fietssegment als subklasse van Transportlink, Fietslinksequentie als subklasse van Transportlinksequentie en Fietslinkset als subklasse van Transportlinkset.</p>
<p>Er werd opzettelijk gekozen om elementen uit OSLO-Transportnetwerk en niet uit <a href="https://data.vlaanderen.be/ns/weg/">OSLO-Wegennetwerk</a> (gebaseerd op <a href="https://knowledge-base.inspire.ec.europa.eu/publications/inspire-data-specification-transport-networks-technical-guidelines_en">INSPIRE Road Network</a>) te specialiseren omdat de insteek geen transportmedium (weg, spoor, water, lucht) maar een transportmiddel is (nl de fiets). Een fietstraject loopt grotendeels over de weg, maar kan ook ferry’s of spoorverbindingen bevatten.</p>
<p>De attributen en associaties van de superklassen uit OSLO-Transportnetwerk werden aangevuld om bvb het Fietsnetwerkelement te koppelen aan een bestaand Transportobject, bvb een Wegsegment uit een wegenregister.</p>
<p>Om eigenschappen aan Fietsnetwerkelementen te kunnen koppelen voorzien we in de eerste plaats generieke subklassen van Transporteigenschap uit OSLO-Transportnetwerk. Deze zijn generiek omdat ze potentieel ook voor andere transportmiddelen gelden, bvb Wegverlichting, Luchtkwaliteit, Verkeerstype edm. Ze vormen een aanvulling op klassen uit OSLO-Wegennetwerk zoals ToegestaneSnelheid.</p>
<p>Daarnaast voorziet dit vocabularium ook Fietsnetwerkeigenschappen die eigenschappen uitbeelden die enkel voor fieters relevant zijn, bvb Fietsinrichting (fietspad, fietssugestiestrook edm), Fietsverharding, Fietscomfort, Fietsverkeersteken etc. Sommige daarvan zijn specialisaties van Transporteigenschappen uit OSLO-Wegennetwerk, zoals Wegverharding of Wegbreedte.</p>
<p>Specifieke attribuering van de Transporteigenschappen laat toe om bvb naar Verkeerstekens (zie het vocabularium <a href="https://data.vlaanderen.be/ns/mobiliteit/">OSLO-Mobiliteit</a>) te verwijzen die uitdrukking geven aan de Transporteigenschap, bvb het Verkeersteken dat een fietspad aangeeft. Of er zijn attributen gemaakt om aan te duiden in welk kader de waarde die een eigenschap aanneemt is bepaald, bvb voor Geluid of Luchtkwaliteit. Of voor het voertuigtype bij Verkeerstelling of Verkeersdeelname.</p>
<p>Het vocabularium is geen lijst van losstaande begrippen, het zijn specialisaties van andere begrippen of zijn ermee geassocieerd. In een applicatieprofiel, zie bvb het <a href="https://data.vlaanderen.be/doc/applicatieprofiel/fietsinfrastructuur/">applicatieprofiel  OSLO-Fietsinfrastructuur</a>, worden de begrippen verder aangevuld met bestaande terminologie om te komen tot een datamodel dat bruikbaar is voor één of meer generieke applicaties. </p>
{% endblock %}
