{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel OSLO-Fietsinfrastructuur toont hoe de terminologie uit het overeenkomstig <a href="https://data.vlaanderen.be//ns/fiets">vocabularium</a> gebruikt moet worden om gegevens uit te wisselen mbt fietsinfrastructuur.</p>
<p>Onder fietsinfrastructuur verstaan we materiële en niet-materiële voorzieningen voor fietsers.</p>
<p>Materiële voorzieningen zijn bvb verkeerslichten voor fietsers of Fietsstallingen. Onder niet-materiële aspecten verstaan we zaken zoals Verkeersintensiteit of RichtingVerkeer. Beide zijn verbonden, bvb ToegestaneSnelheid (een eigenschap) en de Verkeersborden om die af te dwingen (Infrastructuurelementen).</p>
<p>Een belangrijk materieel aspect is de wegbaan waarover kan worden gefietst, maar daarvan wordt in praktijk enkel het niet-materieel aspect bijgehouden, nl het transportnetwerk dat door de wegen wordt gevormd, voorgesteld door de kruispunten in het netwerk en de verbindingen daartussen.</p>
<p>Het applicatieprofiel bestaat daarom uit volgende delen:<lu>
<li>Fysieke infrastructuurelementen
<li>Het logisch transportnetwerk
<li>Eigenschappen
</ul></p>
<p>Het profiel vertrekt van het Infrastructuurelement uit <a href="https://data.vlaanderen.be/doc/applicatieprofiel/infrastructuurelementen/">OSLO-Openbaar domein</a> dat daar louter materieel van aard is. We namen subklassen daarvan in het profiel op die voor fietsers van belang zijn, nl VerkeerslichtVoetgangerFietser, Fietstelpaal, Fietsstalling, Verkeersbord en Wegmarkering.</p>
<p>De klassen daarvan die objecten groeperen die louter voor fietsers zijn (nl VerkeerslichtVoetgangerFietser, Fietstelpaal, Fietsstalling) vulden we aan met de klasse Fietsparking uit <a href=http://schema.mobivoc.org/">MOBIVOC</a> en classificeerden we bijkomend als Fietsinfrastructuurobject.</p>
<p>We gebruiken het OSLO-Transportnetwerk vocabularium voor het Fietsnetwerk en zijn Fietsnetwerkelementen.</p>
<p>Fietsnetwerkelement is een specialisatie van Transportobject. <a href="https://knowledge-base.inspire.ec.europa.eu/publications/inspire-data-specification-transport-networks-technical-guidelines_en">INSPIRE-Transportnetworks</a>, waarop <a href="https://data.vlaanderen.be/ns/transportnetwerk/">OSLO-Transportnetwerk</a> gebaseerd is, deelt transportnetwerken namelijk op volgens het transportmedium (weg, spoor, water en lucht) en niet volgens het transportmiddel (auto, fiets, voetganger… ) en dus leken dus een gespecialiseerde klasse nodig zoals Fietsnetwerkelement, verder opgedeeld in Fietsknoop, Fietssegment, Fietslinksequentie en Fietslinkset, subklassen van resp Transportknoop, Transportlink, Transportlinksequentie en Transportlinkset.</p>
<p>Reden waarom niet gekozen werd voor Wegknoop, Wegsegment, Weglinksequentie en Weglinkset is dat bij een opdeling volgens transportmiddel meerdere transportmediums mogelijk zijn, een fietstraject kan gebruik maken van een ferry of een deel per spoor bevatten.</p> 
<p>De Fietsnetwerkelementen erven de attributen en associaties over van de overeenstemmende Transportobjecten (bvb geometrie voor Fietsknoop of geometriemiddenlijn, begin- en eindknoop voor een Fietssegment), aangevuld met enkele bijkomende nuttige attributen en associaties.</p>
<p>Fietsverkeer vindt doorgaans plaats over bestaande Transportobjecten en deze kunnen onveranderd overgenomen worden als Fietsnetwerkelement, evt met verwijzing naar het oorspronkelijk Transportobject in een bepaald Transportnetwerk, bvb een wegenregister. Maar uiteraard kunnen ook Fietsnetwerkelementen worden gecreëerd die niet als Transportobject bestaan. In praktijk zal dat zeker gelden voor bvb fietsroutes en fietsautosnelwegen die als Fietslinkset of, als we ze in aparte richtingen bekijken, als Fietslinksequentie kunnen beschreven worden.</p>
<p>Fietsnetwerkelementen kunnen ook met Fietsinfrastructuurobjecten gekoppeld worden, bvb om aan te geven welke Fietsparkings langs een fietsautosnelweg voorkomen.</p>
<p>Aan de Fietsnetwerkelementen kunnen echter ook Transporteigenschappen (lees: Transportnetwerkeigenschappen) worden gekoppeld, waarbij we net als voor de Infrastructuurelementen kunnen aangeven welke louter voor fietsers van belang zijn, de zgn Fietsnetwerkeigenschappen.</p>
<p>Generieke eigenschappen zijn Wegverlichting, Luchtkwaliteit, Verkeersintensiteit, Geluid, Verkeersdeelname, Landgebruik, Verkeerstype, Verkeersongeval, Verkeerstelling en Trilling, aangevuld met ToegstaneSnelheid uit <a href="https://data.vlaanderen.be/doc/applicatieprofiel/wegenregister/">OSLO-Weg.</a></p>
<p>Gespecialiseerde Fietsnetwerkeigenschappen zijn Fietsinrichting, Fietsbreedte, RichtingFietsverkeer, Fietsverkeersteken, Fietswinterdienst, Fietsverharding, Fietscomfort en Fietsbuffer. Waarbij Fietsbreedte, RichtingFietsverkeer, Fietsverkeersteken en Fietsverharding specialisaties zijn van analoge klassen uit OSLO-Weg.</p>
<p>Transporteigenschappen, en dus ook Fietsnetwerkeigenschappen, worden op de klassieke manier gelinkt aan Fietsnetwerkelementen, nl dmv Netwerkreferentie uit <a href="https://data.vlaanderen.be/ns/netwerk/">OSLO-Netwerk</a>. Die laat toe om de eigenschap te koppelen aan het betrokken netwerkelement, meer specifiek aan een Link in dat netwerk (Linkreferentie), evt zelfs aan één richting of kant van de Link en/of een punt op of deel van de Link. Bvb Wegverlichting komt enkel voor rechts  van de weg en enkel de eerste 500m tussen kruispunten A en B.</p>
<p>Nogal wat Transport(netwerk)eigenschappen steunen op Verkeerstekens, bvb het Verkeersbord D9 voor een fietspad of de Wegmarkering bestaande uit een dubbele onderbroken stippellijn. We gebruiken hiervoor klassen uit het applicatieprofiel <a href="https://data.vlaanderen.be/doc/applicatieprofiel/verkeersborden/">OSLO-Verkeersborden</a>. Opgelet: deze klassen vertegenwoordigen niet-materiële objecten, zie Infrastructuurelement voor de overeenstemmende subklasse.</p>
<p>Tot slot bevat het applicatieprofiel aanvullende klassen om Geometrie, KwantitatieveWaarden, Organisaties etc te beschrijven.</p>
{% endblock %}

