{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium "OSLO-Fietsinfrastructuur" definieert de termen die van toepassing zijn voor om informatie te delen 
omtrent de infrastructuur relevant voor de fietser, het netwerk dat de fietser gebruikt om zich over te verplaatsen
 en de eigenschappen die het netwerk beschrijven.</p>
<p>Bij de infrastructuur spreekt men over objecten die zich op het openbaar domein begeven, zoals de fietstelpalen, de verkeersborden en
fietsparkingen. </p>
<p>Het netwerk stelt de logische kant die alle fietsvoorzieningen (fietspaden, fietswegen, fietsstraten) voorstelt als een
aaneenschakeling van knopen, segmenten, sequenties en sets. </p>
<p>Bij de eigenschappen gaat het over begrippen die het fietsnetwerk beschrijven, zoals de breedte, de inrichting en de 
richting van het verkeer. </p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
